html {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #d3d3d3;
  background-image: url(02.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}

.container .title::before {
  content: '';
  position: absolute;
  margin-top: 30px;
  /* left: 0; */
  bottom: 0;
  height: 3px;
  width: 120px;
  background: #87ceeb;
}
.container form .account-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .account-details .form-group {
  margin-bottom: 15px;
  width: 100%;
  margin-right: 20px;
}
.account-details .form-group .form-title {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.account-details .form-group input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .form-group {
  width: calc(100% / 3 - 25px);
  margin-right: 20px;
}

.user-details .form-group .form-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .form-group input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.form-group input:focus,
.form-group input:valid {
  border-color: #2e8b57;
}

form .form-radio .form-title {
  font-weight: 500;
}

form .form-radio .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: flex-start;
}
.form-radio .category label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.form-radio .category .radio {
  height: 10px;
  width: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #2e8b57;
}

form input[type='radio'] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 50%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #87ceeb;
}

form .button input::hover {
  background: #3cb371;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .account-details .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  form .user-details .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  form .form-radio .category {
    width: 100%;
  }
  .container {
    max-height: 300px;
    overflow-y: scroll;
  }
}
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: '✔';
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: '✖';
}
.timedate {
  font: small-caps lighter 43px/150% 'Segoe UI', Frutiger, 'Frutiger Linotype',
    'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: right;
  /* width: 50%; */
  /* margin: 40px auto; */
  color: #87ceeb;
  /* border-left: 3px solid #ed1f24; */
  /* padding: 20px; */
}
/* body {
  background: black;
} */

.clock {
  position: absolute;
  top: 86%;
  left: 57%;
  transform: translateX(-50%) translateY(-50%);
  color: #87ceeb;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
